<div class="col-sm-5 col-sm-offset-1 col-contact">
  <h2 class="title-style-2">Reach out to us
    <span class="title-under"></span>
  </h2>
  <!-- <h4 class="sub-title-style-2">We have those too</h4> -->
  <div class="contact-items">
    <ul class="list-unstyled contact-items-list">
      <li class="contact-item">
        <span class="contact-icon">
          <i class="fa fa-phone"></i>
        </span>
        <a href="tel:">+91 96666 11411</a>
      </li>
      <li class="contact-item">
        <span class="contact-icon">
          <i class="fa fa-envelope"></i>
        </span>
        <a href="mailto:VasudhaikaKutumbam@outlook.com">VasudhaikaKutumbam@outlook.com</a>
      </li>
      <li class="contact-item">
          <span class="contact-icon">
            <i class="fa fa-map-marker"></i>
          </span>
          <address clear="all" class="contact-address">
              Flat 403, Block - 2,<br>
              Vertex Classic Buddha Homes,<br>
              Srila Park Pride (Near calavary temple),<br>
              Hydernagar,<br>
              Hyderabad,Telangana - 500072.<br>
          </address>
        </li>
    </ul>
  </div>
</div>