/* You can add global styles to this file, and" also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "assets/css/riliwan-rabo.css";
@import "assets/css/form.css";
/* ============================================================================= Base ========================================================================== */
body {
    font-family: "Open sans", sans-serif;
    color: #115c9b;
    background-color: #f9f9f9;
}
h1, h2, h3, h4 {
    font-family: "Dosis", sans-serif;
}
a {
    color: inherit;
}
a:hover, a:focus, a:active {
    color: inherit;
}
/* ============================================================================= Layout ========================================================================== */
/* Header ================================= */
.navbar-static-top {
    margin: 0;
    border: 0;
    color: #fff;
}
.navbar-top {
    background: #115c9b;
    font-size: 12px;
    padding: 3px 0;
}
.navbar-top .list-inline {
    margin-bottom: 0;
}
.navbar-top .header-contact li {
    margin-right: 15px;
}
.navbar-top .header-contact li .fa {
    margin-right: 5px;
}
.navbar-main {
    margin-bottom: 0;
    color: #fff;
    background: #1f76bd;
}
.navbar-main .navbar-brand {
    border-bottom: none !important;
    font-style: italic;
    padding-top: 20px;
}

.navbar-main a:hover, .navbar-main a:active, .navbar-main a:focus, .navbar-main a.is-active {
    background: none !important;
    color: inherit;
    border-bottom: 2px solid #fff;
}
.navbar-main .submenu {
    position: absolute;
    list-style: none;
    background: #1f76bd;
    padding: 0;
    width: 150px;
    left: -10px;
    visibility: hidden;
    top: 85px;
    -moz-transition: all, 0.05s;
    -o-transition: all, 0.05s;
    -webkit-transition: all, 0.05s;
    transition: all, 0.05s;
}
.navbar-main .submenu li {
    border-top: 1px solid #185b91;
}
.navbar-main .submenu li:hover {
    background: #185b91;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}
.navbar-main .submenu li a {
    width: 100%;
    border-bottom: none;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    font-size: 14px;
}
.navbar-main li a {
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    padding: 20px 15px;
    border-bottom: 2px solid transparent;
}
.navbar-main li:hover .submenu {
    top: 62px;
    visibility: visible;
    -moz-transition: all, 0.25s;
    -o-transition: all, 0.25s;
    -webkit-transition: all, 0.25s;
    transition: all, 0.25s;
}
.navbar-main .icon-bar {
    background: #fff;
}
/* Login and Sign up ================================= */
.password-reset-wrapper, .login-wrapper{
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}
.password-reset-wrapper .password-reset-header h1, .login-wrapper .login-form-header h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.password-reset-wrapper .password-reset-body, .login-wrapper .login-form-body{
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    font-size: 14px;
}
.password-reset-wrapper .password-reset-body .btn-password-reset, .login-wrapper .login-form-body .btn-signin, .login-wrapper .login-form-body .label-password{
    width: 100%;
}
.login-wrapper .login-form-body .label-link{
    float: right !important;
    font-size: 12px;
    text-decoration: none;
}
.login-wrapper .create-account-link{
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #d8dee2;
    text-align: center;
    color: #777;
}
.signup-wrapper .signup-main .disclosure a, .login-wrapper .create-account-link a{
    color: #0366d6;
}
.signup-wrapper{
    width: 450px;
    margin: 0 auto;
}
.signup-wrapper .signup-main .disclosure{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin: 15px 0;
    color: #777;
}
.signup-wrapper .signup-main h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.complete span.round-tabs { 
    background: rgb(34, 194, 34); 
    color: #fff;
    border: 2px solid rgb(34, 194, 34);
}

#status-buttons a.active span.round-tabs { 
    background: #66afe9; 
    color: #fff;
    border: 2px solid #66afe9;
}

#status-buttons span.round-tabs { 
    background: #fff; 
    color: #d3d3d3;
    border: 2px solid #d3d3d3;
}

.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}

/* home/ about-us ================================= */
.about-us {
    margin: 30px 0;
}
  
.about-us-col {
    height: 325px;
    padding: 25px;
    text-align: center;
    background-color: #0076a3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMjgwODE0IiB5MT0iLTAuMTAyMjA4IiB4Mj0iMC43MTkxODYiIHkyPSIxLjEwMjIwOCI+PHN0b3Agb2Zmc2V0PSItMjUlIiBzdG9wLWNvbG9yPSIjMTE1YjliIi8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMxMjkwZjgiLz48c3RvcCBvZmZzZXQ9IjEyNSUiIHN0b3AtY29sb3I9IiMxMTViOWIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -moz-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
    background-image: -webkit-linear-gradient(290deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
    background-image: linear-gradient(160deg, #115b9b -25%, #1290f8 50%, #115b9b 125%);
    color: #fff;
}
.about-us-col .col-icon-wrapper {
    min-height: 80px;
}
.about-us-col .col-title {
    text-transform: uppercase;
}
.about-us-col .col-details {
    text-align: justify;
    margin-bottom: 25px;
    min-height: 80px;
}

/* Team 
================================= */
.team-member {
    background: #1f76bd;
    color: #fff;
    text-align: center;
    padding-bottom: 15px;
    border: 1px solid #1f76bd;
}
.team-member .thumnail img {
    width: 100%;
}
.team-member .member-name {
    font-weight: bold;
}
.team-member .member-position {
    padding: 0 15px 5px;
}

/* footer 
================================= */
.footer-top {
    background: #115c9b;
    height: 40px;
}
 
.main-footer {
    background: #1f76bd;
    color: #fff;
}
.main-footer .footer-main {
    padding: 30px 0;
}
.main-footer .footer-title {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.main-footer .footer-title .title-under {
    background: #fff;
    margin: 15px 0;
    text-align: left;
}
.main-footer .footer-title .title-under:after {
    margin: 0;
    background: #fff;
}
.main-footer .footer-content {
    text-align: justify;
    font-size: 13px;
}
.main-footer .tweet {
    font-size: 13px;
}
.main-footer .tweet:after {
    content: "";
    height: 1px;
    display: block;
    background: #115c9b;
    width: 150px;
    margin: 15px auto;
}
.main-footer .tweet:last-child:after {
    display: none;
}
  
.footer-bottom {
    background: #115c9b;
    padding: 3px;
}
  
.footer-form .form-group {
    margin-bottom: 5px;
}
.footer-form .form-control {
    background: #115c9b;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin-bottom: 5px;
    border: 1px solid #fff;
    resize: none;
}
.footer-form .btn-submit {
    border-radius: 0;
    background: #115c9b;
    text-transform: uppercase;
    border: 1px solid #fff;
    -moz-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    -webkit-transition: all, 0.5s;
    transition: all, 0.5s;
}
.footer-form .btn-submit:hover {
    background: #fff;
}
.footer-form input:-moz-placeholder,
.footer-form textarea:-moz-placeholder {
    color: #fff;
}
.footer-form input::-moz-placeholder,
.footer-form textarea::-moz-placeholder {
    color: #fff;
}
.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder {
    color: #fff;
}
.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder {
    color: #fff;
}
  
/* Pages 
================================= */
.page-heading {
    background: url('assets/images/heading-bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 190px;
    color: #fff;
    padding: 25px 15px;
    margin-bottom: 50px;
}
.page-heading .title-under {
    background: #fff;
}
  
.page-description {
    font-size: 18px;
}

.main-container {
    margin-bottom: 50px;
}

/* =============================================================================
	Module
========================================================================== */
.btn-primary {
    background: #115c9b;
    border: none;
    border-radius: 0;
    padding: 10px 25px;
    border: 1px solid transparent;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  .btn-primary:hover {
    background: #fff;
    color: #1f76bd;
    border: 1px solid #1f76bd;
  }
  
  .btn-secondary {
    background: #fff;
    color: #1f76bd;
    border-radius: 0;
  }
  .btn-secondary:hover {
    background: #1f76bd;
    color: #fff;
  }
  
  .title-style-1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 50px;
  }
  
  .title-style-2 {
    text-align: left;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 25px;
  }
  .title-style-2 .title-under {
    display: block;
    margin: 5px 0;
  }
  .title-style-2 .title-under:after {
    margin: 0;
    margin-top: 10px;
  }
  
  .title-under {
    display: block;
    margin: 5px auto;
    background: #1f76bd;
    height: 1px;
    width: 280px;
  }
  .title-under:after {
    content: '';
    display: block;
    width: 100px;
    background: inherit;
    height: 2px;
    margin: 0 auto;
    margin-top: 10px;
  }
  

/* ============================================================================= Responsive ========================================================================== */
/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {
    .about-us-col {
        padding: 15px;
   }
    .reasons-col:hover .on-hover {
        padding: 15px;
   }
    .reasons-col:hover .on-hover {
        padding: 25px;
   }
}
/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {
    .carousel-home .carousel-title {
        font-size: 36px;
   }
    .carousel-home .carousel-subtitle {
        font-size: 18px;
   }
    .carousel-home .btn {
        margin-top: 15px;
   }
    .about-us-col {
        margin-bottom: 25px;
   }
    .team-member {
        margin-bottom: 25px;
   }
    .reasons-col {
        margin-bottom: 25px;
   }
    .footer-col {
        margin-bottom: 50px;
   }
}
/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {
    .header-contact {
        text-align: center;
   }
    .header-contact li {
        margin: 0 !important;
   }
    .header-social {
        text-align: center;
   }
    .navbar-main #navbar {
        float: none !important;
   }
    .navbar-main #navbar a {
        border-bottom: none;
   }
    .navbar-main .navbar-brand {
        padding: 15px 15px;
   }
    .navbar-main .submenu {
        position: initial;
        display: none;
        width: 100%;
   }
    .navbar-main li:hover .submenu, .navbar-main li:active .submenu, .navbar-main li:focus .submenu {
        display: block;
   }
    .navbar-main li:hover .submenu li, .navbar-main li:active .submenu li, .navbar-main li:focus .submenu li {
        background: #115c9b;
        border-top-color: #1f76bd;
   }
    .carousel-home .carousel-title {
        font-size: 32px;
   }
    .carousel-home .carousel-subtitle {
        font-size: 16px;
   }
    .carousel-home .carousel-control {
        background: #1f76bd;
        height: 40px;
        width: 20px;
        top: 50%;
        margin-top: -20px;
   }
    .carousel-home .carousel-control .fa {
        font-size: 1.5em;
        padding-top: 4px;
   }
    .col-form {
        margin-bottom: 25px;
   }
   .header-menu {
        float: left !important;
   }
   .signup-wrapper{
    width: 350px;
    margin: 0 auto;
    }
}
/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
    .carousel-home .carousel-title {
        font-size: 16px;
        margin: 0;
   }
    .carousel-home .carousel-subtitle {
        font-size: 14px;
        margin: 0;
   }
    .carousel-home .carousel-indicators {
        bottom: 0;
   }
}
/* ============================================================================= Animations ========================================================================== */
.animate-onscroll {
    visibility: hidden;
}
.animated {
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.animated.fadeIn {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
   }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
   }
}
@keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
   }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
   }
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
   }
    100% {
        -webkit-transform: none;
        transform: none;
   }
}
@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
   }
    100% {
        -webkit-transform: none;
        transform: none;
   }
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
   }
    50% {
        opacity: 1;
   }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
   }
    50% {
        opacity: 1;
   }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}