/* You can add global styles to this file, and" also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "assets/css/riliwan-rabo.css";
@import "assets/css/form.css";
/* ============================================================================= Base ========================================================================== */
body {
    font-family: "Open sans", sans-serif;
    color: #115c9b;
    background-color: #f9f9f9;
}
h1, h2, h3, h4 {
    font-family: "Dosis", sans-serif;
}
a {
    color: inherit;
}
a:hover, a:focus, a:active {
    color: inherit;
}
/* ============================================================================= Layout ========================================================================== */
/* Header ================================= */
.navbar-static-top {
    margin: 0;
    border: 0;
    color: #fff;
}
.navbar-top {
    background: #115c9b;
    font-size: 12px;
    padding: 3px 0;
}
.navbar-top .list-inline {
    margin-bottom: 0;
}
.navbar-top .header-contact li {
    margin-right: 15px;
}
.navbar-top .header-contact li .fa {
    margin-right: 5px;
}
.navbar-main {
    margin-bottom: 0;
    color: #fff;
    background: #1f76bd;
}
.navbar-main .navbar-brand {
    border-bottom: none !important;
    font-style: italic;
    padding-top: 20px;
}

.navbar-main a:hover, .navbar-main a:active, .navbar-main a:focus, .navbar-main a.is-active {
    background: none !important;
    color: inherit;
    border-bottom: 2px solid #fff;
}
.navbar-main .submenu {
    position: absolute;
    list-style: none;
    background: #1f76bd;
    padding: 0;
    width: 150px;
    left: -10px;
    visibility: hidden;
    top: 85px;
    -moz-transition: all, 0.05s;
    -o-transition: all, 0.05s;
    -webkit-transition: all, 0.05s;
    transition: all, 0.05s;
}
.navbar-main .submenu li {
    border-top: 1px solid #185b91;
}
.navbar-main .submenu li:hover {
    background: #185b91;
    -moz-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    -webkit-transition: all, 0.3s;
    transition: all, 0.3s;
}
.navbar-main .submenu li a {
    width: 100%;
    border-bottom: none;
    text-decoration: none;
    padding: 5px 25px;
    display: block;
    font-size: 14px;
}
.navbar-main li a {
    font-family: "Dosis", sans-serif;
    font-size: 15px;
    padding: 20px 15px;
    border-bottom: 2px solid transparent;
}
.navbar-main li:hover .submenu {
    top: 62px;
    visibility: visible;
    -moz-transition: all, 0.25s;
    -o-transition: all, 0.25s;
    -webkit-transition: all, 0.25s;
    transition: all, 0.25s;
}
.navbar-main .icon-bar {
    background: #fff;
}
/* Login and Sign up ================================= */
.password-reset-wrapper, .login-wrapper{
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
}
.password-reset-wrapper .password-reset-header h1, .login-wrapper .login-form-header h1{
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.password-reset-wrapper .password-reset-body, .login-wrapper .login-form-body{
    border: 1px solid #d8dee2;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    font-size: 14px;
}
.password-reset-wrapper .password-reset-body .btn-password-reset, .login-wrapper .login-form-body .btn-signin, .login-wrapper .login-form-body .label-password{
    width: 100%;
}
.login-wrapper .login-form-body .label-link{
    float: right !important;
    font-size: 12px;
    text-decoration: none;
}
.login-wrapper .create-account-link{
    padding: 15px;
    margin-top: 20px;
    border: 1px solid #d8dee2;
    text-align: center;
    color: #777;
}
.signup-wrapper .signup-main .disclosure a, .login-wrapper .create-account-link a{
    color: #0366d6;
}
.signup-wrapper{
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
}
.signup-wrapper .signup-main .disclosure{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    margin: 15px 0;
    color: #777;
}
.signup-wrapper .signup-main h2{
    font-size: 24px;
    margin-bottom: 20px;
}
.btn-default {
    border-color: #ccc;
}

.tab-content .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 38px;
}

.tab-content .choice i {
    font-size: 32px;
    line-height: 55px;
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.8;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

/* active buttons */
#status-buttons a.active span.round-tabs { 
    background: rgb(34, 194, 34); 
    color: #fff;
    border: 2px solid rgb(34, 194, 34);
}

#status-buttons span.round-tabs { 
    background: #fff; 
    color: #d3d3d3;
    border: 2px solid #d3d3d3;
}

.iradio_buttons {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    background: #febe29 no-repeat;
    border: none;
    cursor: pointer;
}
.iradio_buttons {
    background-position: -120px 0;
}
.iradio_buttons.hover {
    background-position: -144px 0;
}
.iradio_buttons.checked {
    background-position: -168px 0;
}
/* ============================================================================= Responsive ========================================================================== */
/* Large devices (large desktops, 1200px and Down) */
@media (max-width: 1200px) {
    .about-us-col {
        padding: 15px;
   }
    .reasons-col:hover .on-hover {
        padding: 15px;
   }
    .reasons-col:hover .on-hover {
        padding: 25px;
   }
}
/* Medium devices (desktops, 992px and Donw) */
@media (max-width: 992px) {
    .carousel-home .carousel-title {
        font-size: 36px;
   }
    .carousel-home .carousel-subtitle {
        font-size: 18px;
   }
    .carousel-home .btn {
        margin-top: 15px;
   }
    .about-us-col {
        margin-bottom: 25px;
   }
    .team-member {
        margin-bottom: 25px;
   }
    .reasons-col {
        margin-bottom: 25px;
   }
    .footer-col {
        margin-bottom: 50px;
   }
}
/* Small devices (tablets, 768px and Down) */
@media (max-width: 768px) {
    .header-contact {
        text-align: center;
   }
    .header-contact li {
        margin: 0 !important;
   }
    .header-social {
        text-align: center;
   }
    .navbar-main #navbar {
        float: none !important;
   }
    .navbar-main #navbar a {
        border-bottom: none;
   }
    .navbar-main .navbar-brand {
        padding: 15px 15px;
   }
    .navbar-main .submenu {
        position: initial;
        display: none;
        width: 100%;
   }
    .navbar-main li:hover .submenu, .navbar-main li:active .submenu, .navbar-main li:focus .submenu {
        display: block;
   }
    .navbar-main li:hover .submenu li, .navbar-main li:active .submenu li, .navbar-main li:focus .submenu li {
        background: #115c9b;
        border-top-color: #1f76bd;
   }
    .carousel-home .carousel-title {
        font-size: 32px;
   }
    .carousel-home .carousel-subtitle {
        font-size: 16px;
   }
    .carousel-home .carousel-control {
        background: #1f76bd;
        height: 40px;
        width: 20px;
        top: 50%;
        margin-top: -20px;
   }
    .carousel-home .carousel-control .fa {
        font-size: 1.5em;
        padding-top: 4px;
   }
    .col-form {
        margin-bottom: 25px;
   }
   .sign-in-menu {
        float: left !important;
   }
   .signup-wrapper{
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
}
}
/* Extra Small devices (tablets, 480px and Down) */
@media (max-width: 480px) {
    .carousel-home .carousel-title {
        font-size: 16px;
        margin: 0;
   }
    .carousel-home .carousel-subtitle {
        font-size: 14px;
        margin: 0;
   }
    .carousel-home .carousel-indicators {
        bottom: 0;
   }
}
/* ============================================================================= Animations ========================================================================== */
.animate-onscroll {
    visibility: hidden;
}
.animated {
    visibility: visible;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
.animated.fadeIn {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
   }
    100% {
        opacity: 1;
   }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
   }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
   }
}
@keyframes bounceInUp {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
   }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
   }
}
.bounceInUp {
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
   }
    100% {
        -webkit-transform: none;
        transform: none;
   }
}
@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
   }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
   }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
   }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
   }
    100% {
        -webkit-transform: none;
        transform: none;
   }
}
.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
   }
    50% {
        opacity: 1;
   }
}
@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
   }
    50% {
        opacity: 1;
   }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}